.search-section {
  padding: 60px 20px 20px;
  background: #f8f9fb;
}

.search-content {
  max-width: 720px;
  margin: auto;
  text-align: center;
}

.search-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.search-description {
  color: #222;
  margin-bottom: 20px;
  line-height: 140%;
  max-width: 600px;
  margin: auto;
}

.search-description a {
  color: #210256;
}

.search-input {
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.search-results {
  text-align: left;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-item {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.search-link {
  color: rgb(12, 12, 166);
  font-size: 14px;
}