.footer {
  background: #010c21;;
  color: #fff;
  text-align: center;
  padding: 26px 96px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin: 0;
  font-size: 0.95rem;
}